body{
    background-color: #f1f1f1;
}
#content{
    margin: auto;
}
#tieude {
    font-size: 200%;
}
#poster {
    float: left;
    background-color: white;
    width: 400px;
    margin: 5px;
    padding-top: 15px;
    padding-left: 15px;
}
#block-cot-trai {
    float: left;
}

.notice {
    color: red;
}
